.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
	background: #ffffff;
	color: black;
	padding-bottom: 2%;
  text-align: center;
}

.Container h1 {
  font-size: calc(1vw + 1.25vh);
}

.Client-list {
  top: 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5%;
	width: 70%;
  align-self: center;
}

.Client-item {
  max-width: 95%;
	align-self: center;
}

.Qorvo {
  max-width: 70%;
}