.Container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the sections vertically */
  justify-content: center; /* Center the sections horizontally */
  background-color: white;
  color: black;
  text-align: center;
  height: max-content;
  width: 100%;
  z-index: 100;
  padding-bottom: 40px;
}

.SponsorSection {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
  justify-content: center;
}

.SponsorSection {
  width: 80%; /* Ensure Sponsor section and Instagram section have equal width */
}

.SectionDescription {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.Client-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  width: 100%;
  align-items: center;
  justify-items: center;
}

.Client-item {
  width: 100%;
  max-width: 350px; /* Ensures it doesn't get too large */
  flex: 1 auto;
  transition: all 0.5s;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin: auto; /* Center the image within the container */
}

.Qorvo {
  max-width: 80%;
  margin-top: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 2400px) {
  .SectionTitle {
    font-size: 4.5rem;
  }
  .SectionDescription {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 2000px) {
  .SectionTitle {
    font-size: 4rem;
  }
  .SectionDescription {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1800px) {
  .SectionTitle {
    font-size: 3.5rem;
  }
  .SectionDescription {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .SectionTitle {
    font-size: 3.25rem;
  }
  .SectionDescription {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 1400px) {
  .SectionTitle {
    font-size: 3rem;
  }
  .SectionDescription {
    font-size: 1.75rem;
  }
}