.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	color: black;
  text-align: center;
  height: max-content;
  justify-content: center;
}

.Container h2 {
  font-size: 3.25rem;
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .Container h2 {
    font-size: 2rem;
    padding-bottom: 20px;
  } 
}

.underline {
  position: relative;
  left: 0;
  margin-bottom: 10%;
  width: 95%;
  height: 3px;
  background-color: #32363d;
  display: inline-block;
}

.Client-list {
	display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	width: 80%;
  align-items: center;
  justify-items: center;
  padding-bottom: 2.7vh;
}

.Client-item {
  width: 80%;
  max-width: 350px; /* Ensures it doesn't get too large */
  flex: 1 auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s;
}

.Client-item:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.Qorvo {
  max-width: 60%;
}