/* Web */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150vh;
  background-color: blue;
  width: 100vw;
}

.tutoring-calendar-wrapper {
  display: flex;
  flex-direction: column;
}

.overlay {
  color: #ffffff;
  top: 0;
  z-index: 12;
  text-align: center;
  width: 100%;
  height: 100%;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.course-list-container > ul > li {
  width: fit-content;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
  white-space: normal;
}
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  border-radius: 50px;
  padding: 5vw;
  font-size: 1.2rem;
}

.section-one-container {
  padding: 10%;
  padding-top: 0;
  padding-bottom: 5%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  /* text-decoration: underline; */
  padding-bottom: 3rem;
  color: white;
}

.course-list-container > div > li {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 1%;
  color: white;
  list-style-type: none;
}
.course-list-container > h2 {
  padding: 2rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  color: #ffffff;
}
.section-two-container {
  background-color: #eeeeee;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imagemap {
  padding-inline: 1%;
  width: clamp(300px, 50%, 1000px);
}
.section-two-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: #c85b12;
  margin-top: 2%;
}
.section-two-title > span {
  color: #c85b12;
}

.section-two-container > p {
  font-size: 1.75rem;
  width: 70%;
  text-align: center;
  padding: 2rem;
}
.section-three-container {
  padding-bottom: 4rem;
}
.tutoring-hours-title {
  font-size: 6rem;
  margin-bottom: 0;
  padding: 36rem 0rem 4rem 4rem;
  display: flex;
  font-weight: 600;
  color: black;
}

.calendar-container {
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
  z-index: -1;
}
.calendar-container > div {
  width: 80vw;
  /* rounded corners */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffffff;
}
.section-four-container {
  background-color: #2c6a9b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.section-four-container > h2 {
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3.5rem;
  color: white;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}
.calendarEvent {
  padding-left: 5%;
}
.calendarText {
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.7rem;
}

@media screen and (max-width: 1400px) {
  .tutoring-hours-title {
    font-size: 4rem;
    padding: 24rem 0rem 2rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .tutoring-hours-title {
    font-size: 3rem;
    padding: 18rem 0rem 2rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .course-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 10%;
  }
  .title {
    font-size: 3rem;
  }
  .tutoring-hours-title {
    font-size: 2rem;
    padding: 16rem 0rem 1rem 1rem;
  }
}

.apply {
  background-color: white;
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}
/* Want to be a tutor? */

.applyButton {
  height: auto;
  width: 20vh;
  margin: 15px auto;
  border-radius: 100px;
  object-fit: contain;
  box-shadow: 0.5vw 0.5vw rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out; /* Add a smooth hover effect */
  cursor: pointer; /* Indicate interactivity */
}

.applyButton:hover {
  /* Slight zoom on hover */
  transform: scale(1.05); /* Adjust the scale factor for zoom */
  box-shadow: 0.3vw 0.3vw rgba(0, 0, 0, 0.8); /* Increase shadow on hover */
}

.apply h1 {
  font-size: 4vh;
  margin-bottom: 10px;
}

.apply ul {
  width: 50%;
  margin: 1% auto;
  list-style: none;
  font-size: 2.5vh;
}

.apply li {
  margin: 10px;
  padding: 10px 20px;
}
/* Mobile */
