.Carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .CarouselImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  
  .CarouselImage.active {
    opacity: 1;
  }
  
  .Container {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    z-index: 1; /* Ensure it appears above the images */
  }
  
  .Header {
    font-size: 3rem; /* Adjust size as needed */
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .Button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: #ff5733; /* Adjust color as needed */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none; /* Remove underline from the link */
    transition: background-color 0.3s ease;
  }
  
  .Button:hover {
    background-color: #e04e2a; /* Adjust color on hover */
  }
  