.tutoring-calendar-wrapper {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 80%;
}

.tutoring-hours-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

.calendar-container {
  position: relative;
  overflow: hidden;
}

.calendarEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.calendarText {
  color: #ffffff;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
