@font-face {
  font-family: 'AeonikFono';
  src: url('assets/AeonikFono-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'AeonikFono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c85b12;
}

#root {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
